body{
  background-color : lightblue;
  background-image  : href('C:/Users/l250701/Pictures/Screenshots/Screenshot 2025-11-08 094301.png');
  padding : 10px;
}
#outer {
  padding   :10px;
  background-color : white ;
  margin: 10px;
  justify-content : center ;
  height : 90%;
  width : 90%;
}
#d1{ 
 float : right;
  background-color : lightblue;
  height : 150px;
  width : 100%;
  font-size : 38px ;
  font-family : system-ui;
  text-align  :right ;
  text-decoration: underline;
}
#d2{
  float : left ;
  width : 25%;
  height : 40%;
   background-color : lightblue;
   font-size : 38px ;
  font-family : system-ui;
  text-align : center ;
  margin-top : 7px;
float : left ;
}
#d3{
  margin-left : 7px;
    background-color : lightblue;
   font-size : 38px ;
   height  : 100%;
  font-family : system-ui;
  text-align : center ;
  margin-top : 7px;
float : left ;
}
#outer1{
  width : 100%;
  height  : 350px;
}
